TABLE {
	border-collapse: collapse;
}
TD {
	border: 1px solid black;
	padding: 5px;
}
P {
	margin: 0px;
}
A:link {
    color: #0000FF;
	text-decoration: none;
}
A:visited {
    color: #0000FF;
	text-decoration: none;
}
A:hover {
    color: #FF0000;
	text-decoration: none;
}
A:active {
    color: #00FFFF;
	text-decoration: none;
}
.menu {
	margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
.menu-item {
	display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}
.parent {
	//border:1px dashed black;
	border: 0px;
	width:300px;
}
.child {
	width:300px;
	display:table-cell;
	vertical-align: middle;
	text-align: right;
}
.los {
	width: 25px;
	color: red;
	border: 0px;
}
.player {
	width:275px;
}
.point {
	width: 25px;
	text-align: center;
}