TABLE {
	border-collapse: collapse;
}
TD {
	border: 1px solid black;
	padding: 5px;
}
P {
	margin: 0px;
}
A:link {
    color: #0000FF;
	text-decoration: none;
}
A:visited {
    color: #0000FF;
	text-decoration: none;
}
A:hover {
    color: #FF0000;
	text-decoration: none;
}
A:active {
    color: #00FFFF;
	text-decoration: none;
}
.menu {
	margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
.menu-item {
	display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}
.games {
	position: relative;
	width: 1000px;
	height: 600px;
	border: 1px solid black;
}
.game1 {
	left: 10px;
	top: 10px;
	width: 250px;
	height: 80px;
	position: absolute;
}
.game2 {
	left: 10px;
	top: 100px;
	width: 250px;
	height: 80px;
	position: absolute;
}
.game3 {
	left: 10px;
	top: 200px;
	width: 250px;
	height: 80px;
	position: absolute;
}
.game4 {
	left: 10px;
	top: 290px;
	width: 250px;
	height: 80px;
	position: absolute;
}
.game5 {
	left: 280px;
	top: 55px;
	width: 250px;
	height: 80px;
	position: absolute;
}
.game6 {
	left: 280px;
	top: 245px;
	width: 250px;
	height: 80px;
	position: absolute;
}
.game14 {
	left: 550px;
	top: 150px;
	width: 250px;
	height: 80px;
	position: absolute;
}
.parent {
	//border:1px dashed black;
	border: 0px;
}
.child {
	width:300px;
	display:table-cell;
	vertical-align: middle;
	text-align: right;
}
.los {
	width: 25px;
	color: red;
	border: 0px;
}
.player {
	width:275px;
}
.point {
	width: 25px;
	text-align: center;
}